<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
</head>
<body style="padding: 1rem;">
    <h1>Edit Article</h1>
    <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
        <%- include('_form.ejs') %>
    </form>
    <form action="/auth/logout?_method=DELETE" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>